.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151a25;
  color: #fff;
  padding: 10px 20px;
}

.logo a {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.navigation a:hover {
  text-decoration: underline;
}