/* styles/post.module.css */

/* Style for the entire blog post content */
.post-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Style for headings */
.post-content h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #151a25;
}

.post-content h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #151a25;
}

.post-content h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #151a25;
}

/* Style for paragraphs */
.post-content p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Style for emphasized text */
.post-content strong {
  font-weight: bold;
}

/* Style for emphasized text */
.post-content em {
  font-style: italic;
}

/* Style for links */
.post-content a {
  color: #0070f3;
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

/* Style for unordered and ordered lists */
.post-content ul,
.post-content ol {
  margin-left: 2rem;
}

.post-content li {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

/* Style for blockquotes */
.post-content blockquote {
  border-left: 2px solid #0070f3;
  padding-left: 1rem;
  color: #666;
}

/* Style for images */
.post-content img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  .post-content h1 {
    font-size: 1.8rem;
  }

  .post-content h2 {
    font-size: 1.6rem;
  }

  .post-content h3 {
    font-size: 1.4rem;
  }

  .post-content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust font sizes and image sizes for even smaller screens */
  .post-content h1 {
    font-size: 1.6rem;
  }

  .post-content h2 {
    font-size: 1.4rem;
  }

  .post-content h3 {
    font-size: 1.2rem;
  }

  .post-content p {
    font-size: 1.2rem;
  }

  .post-content img {
    max-width: 100%;
    height: auto;
  }
}
